# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file in a directory hierarchy
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches all files with these extensions
[*.py]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true

# Set default charset
[*.{js,html,css,json}]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true

# Additional rules for Makefiles
[Makefile]
indent_style = tab

# YAML configuration files
[*.yml]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
